.aboutContainer {
  min-height: 210dvh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.content {
  width: 100%;
  height: 150dvh;
  text-align: center;
  color: #FFFDD0;
}

.projectsSection{
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #FFFDD0;

}

.contentRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
}

.mePic{
  height: 280px;
  width: 220px;
  border-radius: 5%;
  border: 3px solid #FFFDD0;
  background-image: url('./me-pic.png');
  background-size: cover;
  background-position: center;
}

.carolImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.container2Block{
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  width: 780px;
  line-height: 85%;
}

.container2Block span{
  font-size: 4rem;
  font-weight: 900;
  font-family: 'Unbounded', cursive;
}

.aboutMeP{
  padding: 3rem 0 ;
  margin: 0 auto;
  width: 55%;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Anonymous Pro", monospace;
}

.loopContainer{
    background-color: #A877FD;
    display: flex;
    white-space: nowrap;
    width: auto;
    margin: 4rem 0;
}

.list{
    display: flex;
    align-items: top;
    -webkit-animation: loop 30s infinite linear;
    animation: loop 30s infinite linear;
    font-size: 2rem !important;
    font-family: 'Unbounded', sans-serif;
    font-weight: 900;
}

.itemTxt{
    font-weight: 900;
    font-size: 2rem;
    color: #FFFDD0;
}

.itemD{
  display: inline;
}

.itemSlash{
    font-family: 'Unbounded', sans-serif;
    margin: 0 50px;
    display: inline-block;
    color: #FFFDD0;
    font-size: 2rem;
    font-weight: 900;
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}
@-webkit-keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.projectsSection h2{
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 900;
  width: 780px;
}

.ctaButton {
  border: 3px solid #A877FD ;
  background-color: transparent;
  border-radius: 50px;
  padding: 0.8rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #A877FD;
  cursor: pointer;
  margin-top: 2rem;
  text-transform: uppercase;
}

.ctaButton:hover {
  background-color: #A877FD;
  color: #000;
  transition: all 0.3s ease-in-out;
  transform: scale(1.05);
}

.eyesContainer{
  position: absolute;
  width: 100%;
  min-height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  top: 102%;
  left: 1%;
  z-index: 2;
  overflow: hidden;
}

.eye1{
  width: 5rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
}

.eye2{
  width: 5rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
}

.pupil{
  position: absolute;
  width: 2rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #000;
  padding: 1rem;
  transform: translate(50%, 50%);
  transition: all 0.2s ease-in-out;
}

.bright{
  position: absolute;
  width: 0.4rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: white;
  transform: translate(-90%, -50%);
}

.carolEyesImg{
  width: 30rem;
  position: relative;
  top: 2rem;
}

/* Media Queries para Responsividade */

@media (max-width: 1024px) {
  .container2Block, .projectsSection h2 {
    width: 90%;
    font-size: 3rem;
  }

  .container2Block span {
    font-size: 3rem;
  }

  .aboutMeP {
    width: 80%;
  }

  .eyesContainer{
    top: 51%;
    gap: 1rem;
  }
}

@media (max-width: 900px) {
  .content{
    height: 0dvh;
  }
  .container2Block {
    width: 60%;
  }

  .container2Block span {
    font-size: 3rem;
  }

  .projectsSection h2 {
    font-size: 2.5rem;
  }

  .itemTxt, .itemSlash {
    font-size: 1.8rem;
  }

  .aboutMeP {
    width: 70%;
    font-size: 1.05rem;
  }

  .ctaButton {
    font-size: 1.3rem;
    padding: 0.7rem 3rem;
  }

  .carolEyesImg {
    width: 25rem;
  }

  .eyesContainer{
    top: 89%;
    gap: 1.5rem;
  }

  .eye1, .eye2 {
    width: 3.5rem;
    height: 5rem;
  }
  .pupil {
    width: 2.5rem;
    height: 3.5rem;
    transform: translate(25%, 40%);
  }
  .bright {
    width: 0.7rem;
    height: 0.9rem;
  }
}

@media (max-width: 768px) {
  .contentRow {
    flex-direction: column;
    padding: 3rem 0;
  }

  .container2Block span {
    font-size: 2.5rem;
    text-align: center;
  }

  .projectsSection h2 {
    font-size: 2rem;
  }

  .aboutMeP {
    width: 90%;
    font-size: 1rem;
  }

  .ctaButton {
    font-size: 1.2rem;
    padding: 0.7rem 2.5rem;
  }

  .carolEyesImg {
    width: 20rem;
  }
}

@media (max-width: 600px) {
  .container2Block {
    width: 100%;
    padding: 0rem 5rem;
  }

  .container2Block span {
    font-size: 2rem;
  }

  .aboutMeP {
    width: 95%;
    font-size: 0.95rem;
  }

  .projectsSection h2 {
    font-size: 1.8rem;
  }

  .itemTxt, .itemSlash {
    font-size: 1.6rem;
  }

  .ctaButton {
    font-size: 1.1rem;
    padding: 0.7rem 2rem;
  }

  .carolEyesImg {
    width: 18rem;
  }

  .eyesContainer{
    top: 131%;
    width: 100%;
    min-height: 3%;
    gap: 1rem;
  }

  .eye1, .eye2 {
    width: 2.8rem;
    height: 4rem;
  }

  .pupil {
    width: 2rem;
    height: 2.8rem;
    transform: translate(25%, 40%);
  }
}

@media (max-width: 480px) {
  .aboutContainer{
    height: 150dvh;
  }

  .content {
    height: 150dvh;
  }

  .container2Block span {
    font-size: 1.4rem;
  }

  .projectsSection h2 {
    font-size: 1.5rem;
  }

  .itemTxt, .itemSlash {
    font-size: 1.5rem;
  }

  .ctaButton {
    font-size: 1rem;
    padding: 0.6rem 2rem;
  }

  .carolEyesImg {
    top: 20rem;
  }

  .eyesContainer{
    height: auto;
    position: relative;
    top: 30rem;
    gap: 1.5rem;
  }

  .eye1, .eye2 {
    width: 3rem;
    height: 4rem;
  }

  .pupil {
    width: 1rem;
    height: 2.5rem;
    transform: translate(0%, 35%);
  }
}